{% extends "twitter/base.html" %}

{% load thumbnail %}
{% block content %}
  <div class="list-group bg-dark">

    {% include "twitter/tweet.html" with detailed_view=1 %}

    <div id="comments">
      {% for comment in tweet.comment_set.all %}
        {% include "twitter/comment.html" %}
      {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
      <div class="list-group-item bg-secondary mb-5 ml-4 mr-1 rounded">
        <form id="new_comment_form">
          {% csrf_token %}
          <textarea class="form-control bg-light mb-1" rows="3" id="new_comment_text" name="text" form="new_comment_form"
                    placeholder="Add your comment..." style="resize:vertical;"></textarea>
          <input class="btn btn-primary" type="submit" value="Send"/>
        </form>
      </div>
    {% endif %}

  </div>

{% endblock %}