<!DOCTYPE HTML>

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
			      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body class="bg-dark">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a href="/" class="navbar-brand">Home</a>

      <ul class="nav navbar-nav">
        <li {% if request.resolver_match.view_name == 'first:year_archive' %} class="active"{% endif %}>
          <a class="nav-link" href="{% url 'first:year_archive' 2018 %}">Articles</a></li>
        <li {% if request.resolver_match.view_name == 'polls:index' %} class="active"{% endif %}>
          <a class="nav-link" href="{% url 'polls:index' %}">Polls</a></li>
        <li {% if request.resolver_match.view_name == 'twitter:index' %} class="active"{% endif %}>
          <a class="nav-link" href="{% url 'twitter:index' %}">Twitter</a></li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <li>
              <a class="nav-link" href="{% url 'admin:index' %}">Admin panel</a>
            </li>
          {% endif %}
        <li>
          <a class="nav-link" href="{% url 'core:my_profile' %}">My profile</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <section class="text-center">
      <div class="text-light container">
        {% block content %}{% endblock %}
      </div>
    </section>

  </body>


  {% load staticfiles %}
  {% block scripts %}
    <script type="text/javascript" src="{% static 'twitter/js/scripts.js' %}"></script>
  {% endblock %}

</html>